
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height:100vh;
    background: linear-gradient( to bottom right, #8a57fe ,#5ddce7);
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .image img{
    width: 500px;
    height: 400px;
    float: left;
  }
  .logo img{
  
  }
  .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: rgb(35,64,154);
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 20px;
}
.content .textBox h2 span{
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}
.content .textBox h2 span .mdl{
    color: #111;
    font-size: 50px;
}
.content .textBox p span .mdl{
  color: #111;
  font-size: 50px;
}
.content .textBox p{
    color: #fff;
    font-size: 25px;

}
.content .textBox p span{
    color: rgb(35,64,154);
    font-weight: 900;
    font-size: 50px;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background:  rgb(35,64,154);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}